{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="sidebar">
  <ul>
    <li><a href="/machine_learning/">Machine Learning</a></li>
    <li><a href="/process_voice/">AI Mind Power</a></li>
    <a href="http://localhost:3000" target="_blank">Go to Chat App</a>
  </ul>
</div>
<div class="container">
  {% block reset %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
  {% endblock %}
  <!-- Color Picker -->
  <label for="colorPicker">Select a Color:</label>
  <input type="color" id="colorPicker" value="#ff0000">
  <button id="applyColorBtn">Apply Color</button>
  <p id="exampleText">This text will change color based on your selection.</p>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
(base) PS C:\Users\OWNER\phi> git pull
remote: Enumerating objects: 69, done.
remote: Counting objects: 100% (69/69), done.
remote: Compressing objects: 100% (59/59), done.
remote: Total 60 (delta 42), reused 0 (delta 0), pack-reused 0 (from 0)
Unpacking objects: 100% (60/60), 15.68 KiB | 38.00 KiB/s, done.
From https://github.com/phiac/phi
   26e0ced..4670205  master     -> origin/master
Updating c502863..4670205
error: Your local changes to the following files would be overwritten by merge:
        .env
        myvoice/settings.py
Please commit your changes or stash them before you merge.
error: The following untracked working tree files would be overwritten by merge:
        xvoice/templates/registration/login.html
        xvoice/templates/registration/register.html
Please move or remove them before you merge.
Aborting
(base) PS C:\Users\OWNER\phi>
