<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Feed</title>
    <link rel="stylesheet" href="{% static 'social_app/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="{% static 'social_app/js/live_stream.js' %}"></script>
</head>
<a href="{% url 'social_app:social_upload' %}">Video Feed</a>
<body>
    <button id="theme-toggle">Toggle Theme</button>

    <h2>Videos</h2>

    {% for video in videos %}
        <div>
            <h3>{{ video.title }}</h3>
            <video width="640" height="360" controls>
                <source src="{{ video.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>{{ video.description }}</p>
        </div>
    {% endfor %}

       <script>
           const toggleButton = document.getElementById('theme-toggle');
           toggleButton.addEventListener('click', () => {
               document.body.dataset.theme =
                   document.body.dataset.theme === 'dark' ? '' : 'dark';
           });
       </script>
</body>
</html>
